<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Homepage</title>  
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link đến file CSS của bạn -->  
</head>  
<body>  
    <% include ../partials/header %>  
    
    <%- include(content) %>

    <% include ../partials/footer %>  
</body>  
</html>  