doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Product List
  body
    h1 Product List
    table(border="1")
      tr
        th ID
        th Name
        th Price
        th Description
      each product in products
        tr
          td #{product.id}
          td #{product.name}
          td #{product.price}
          td #{product.description}
